@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
$dark_magenta:hsl(300, 43%, 22%);
$Soft_Pink: hsl(333, 80%, 67%);
$Dark_Grayish_Magenta: hsl(303, 10%, 53%);
$Light_Grayish_Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);
$spartan : 'League Spartan', sans-serif;
@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    margin: 0;
    padding: 0;
    font-family: $spartan;
    background-color: red;
    width: 100vw;
    @include flex;
}
main{
    @include flex;
    gap: 1rem;
    background-color: yellow;
    padding: 0;
    margin: 0;
    width: 100%;
.top{
    .header{
        @include flex;
        text-align: center;
        width: 300px;
        
        .title{
            color: $dark_magenta;
            font-weight: 700;
            font-size: 35px;
        }
        p{
            font-size: 17px;
            color: $Dark_Grayish_Magenta;
            font-weight: 500;
            line-height: 1.25em;
        }
    }
    .rating_cards{
        @include flex;
        gap: 1rem;
        .rating{
            background-color: #eee2ed;
            color: $dark_magenta;
            min-width: 300px;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-radius: 0.5rem;
            font-weight: 700;
        }
        .stars{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            .fa-star{
                color: gold;
            }
        }
    }
}
}
.fa-circle{
    color: white;
    font-size: 15px;
}
.testimonials{
    @include flex;
    gap: 1rem;
    .testimonial_card{
    background-color: $dark_magenta;
    border-radius: 0.5rem;
    padding: 1rem;
    @include flex;
    gap: 2rem;
    width: 300px;
        .profil{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            padding: 1rem 0rem 0rem 1rem;
            img{
                border-radius: 50%;
                width: 15%;
            }
        }
        .profil_desc{
            @include flex;
            gap: 0.4rem;
            .card_title{
                font-size: 18px;
                font-weight: 700;
                color: $White;
            }
            .verified{
                font-size: 15px;
                font-weight: 500;
                color: $Soft_Pink;
            }
        }
        .testimonial{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.25rem;
            color: $White;
            padding: 0rem 1rem 1rem 1rem;
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

@media only screen and (min-width: 1024px) {
  main{
      height: 100vh;
      width: 80vw;
      .top{
        align-self: stretch;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         max-width: 819px;
         .title{
             text-align: left;
         }
         p{
            text-align: left;
         }
         .rating_cards{
             align-self:center;
         }
      }
      .testimonials{
          flex-direction: row;
          align-self: stretch;
          height: 290px;
          .testimonial_card{
              height: 218px;
          }
          .card1{
            align-self: flex-start;
          }
          .card2{
              align-self: center;
          }
          .card3{
              align-self: flex-end;
          }
      }
  }
}